#acerca-de-mi {
  min-height: calc(45vh - (10px));
}

/* #contacto {  
  min-height: calc(95vh - (20px));      
} */

#footer_id {
  position: relative;
  bottom: 0;
  width: 100%;  
  text-align: center;
  padding: 4px 0; /* Añade espaciado vertical si es necesario */
}

#home {
  background-color: #CA848A;
}

.div_card {
  background-color: #A78C7B;
}

img {
  width: 150px;
  border-radius: 5%;
}

.contenedor {
  display: flex;
  align-items: center;
}

.con {
  font-size: 25px;
}

.con :hover {
  color: black;
}

.button_container :hover {
  color: white;
}

.subtitle {
  font-size: 12px;
}

.face {
  border: solid 1px black;
  text-align: center;
}

.image-top {
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center ;
}

button {
  width: 4rem;
}

#final_button {
  width: 6rem;
}

h1 {
  display: flex;
  justify-content: space-between;  
}

h1 a {
  text-decoration: none;
}

.nav-link {
  cursor: pointer;
}

.navbar-brand {
  cursor: pointer;
}

#acerca-de-mi p {
  font-size: 20px;
}

#tensor_flow_icon:hover::after {
  content: "Tensor Flow";
  position: absolute;
  transform: translate(-50%,-15%);  
  font-size: 18px;
  color: black;
}

#scikit-lean_icon:hover::after {
  content: "Scikit-learn";
  position: absolute;
  transform: translate(-70%,180%);  
  font-size: 18px;
  color: black;
}

#numpy_icon:hover::after {
  content: "Numpy";
  position: absolute;
  transform: translate(-80%,180%);  
  font-size: 18px;
  color: black;
}

#pandas_icon:hover::after {
  content: "Pandas";
  position: absolute;
  transform: translate(-80%,180%);  
  font-size: 18px;
  color: black;
}

#python_icon:hover::after {
  content: "Python";
  position: absolute;
  transform: translate(-80%,180%);  
  font-size: 18px;
  color: black;
}

#tableau_icon:hover::after {
  content: "Tableau";
  position: absolute;
  transform: translate(-80%,180%);  
  font-size: 18px;
  color: black;
}

#django_icon:hover::after {
  content: "Django";
  position: absolute;
  transform: translate(-80%,180%);  
  font-size: 18px;
  color: black;
}

#flask_icon:hover::after {
  content: "Flask";
  position: absolute;
  transform: translate(-90%,180%);  
  font-size: 18px;
  color: black;
}

#node_js_icon:hover::after {
  content: "NodeJS";
  position: absolute;
  transform: translate(-80%,180%);  
  font-size: 18px;
  color: black;
}

#react_js:hover::after {
  content: "ReactJS";
  position: absolute;
  transform: translate(-80%,180%);  
  font-size: 18px;
  color: black;
}

#javascript:hover::after {
  content: "JavaScript";
  position: absolute;
  transform: translate(-70%,180%);  
  font-size: 18px;
  color: black;
}

#laravel:hover::after {
  content: "Laravel";
  position: absolute;
  transform: translate(-80%,180%);  
  font-size: 18px;
  color: black;
}

#php:hover::after {
  content: "PHP";
  position: absolute;
  transform: translate(-110%,180%);  
  font-size: 18px;
  color: black;
}

#wordpress:hover::after {
  content: "Wordpress";
  position: absolute;
  transform: translate(-70%,180%);  
  font-size: 18px;
  color: black;
}

#boostrap_icon:hover::after {
  content: "Bootstrap";
  position: absolute;
  transform: translate(-70%,180%);  
  font-size: 18px;
  color: black;
}

#css_icon:hover::after {
  content: "CSS";
  position: absolute;
  transform: translate(-110%,180%);  
  font-size: 18px;
  color: black;
}

#html_icon:hover::after {
  content: "HTML";
  position: absolute;
  transform: translate(-80%,180%);  
  font-size: 18px;
  color: black;
}

#sql_icon:hover::after {
  content: "SQL";
  position: absolute;
  transform: translate(-90%,180%);  
  font-size: 18px;
  color: black;
}

#git_icon:hover::after {
  content: "Git";
  position: absolute;
  transform: translate(-110%,180%);  
  font-size: 18px;
  color: black;
}

#github_icon:hover::after {
  content: "GitHub";
  position: absolute;
  transform: translate(-80%,180%);  
  font-size: 18px;
  color: black;
}