#Hero-Section {
  height: 350px;
  background-color: lightseagreen;
}

#Acerca-de-mi {
  min-height: calc(45vh - (10px));
}


#works {
  background-color: lightseagreen;
}

#contact_zone {
  background-color: lightseagreen;
  min-height: calc(100vh - (20px));      
}

#footer_id {
  position: relative;
  bottom: 0;
  width: 100%;  
  text-align: center;
  padding: 4px 0; /* Añade espaciado vertical si es necesario */
}



.div_card {
  background-color: lightseagreen;
}

img {
  width: 150px;
  border-radius: 5%;
}

.contenedor {
  display: flex;
  align-items: center;
}

.con {
  font-size: 25px;
}

.con :hover {
  color: black;
}

.button_container :hover {
  color: white;
}

.subtitle {
  font-size: 12px;
}

.face {
  border: solid 1px black;
  text-align: center;
}

.image-top {
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center ;
}

button {
  width: 4rem;
}

#final_button {
  width: 6rem;
}

h1 {
  display: flex;
  justify-content: space-between;  
}

h1 a {
  text-decoration: none;
}

